.places {
  margin: 92px 0 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media all and (max-width: 1023px) {
  .places {
    margin-top: 88px;
    gap: 73px;
  }
}

@media all and (max-width: 767px) {
  .places {
    margin-top: 64px;
    gap: 50px;
  }
}
