.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 30px 0 0;
  z-index: 1;
}

@media all and (max-width: 1279px) {
  .cover__subtitle {
    margin-top: 35px;
  }
}

@media all and (max-width: 1023px) {
  .cover__subtitle {
    margin-top: 35px;
  }
}

@media all and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    max-width: 288px;
    margin-top: 16px;
    margin-left: 10px;
  }
}
