.cover__subtitle {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  top: 410px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .cover__subtitle {
    top: 360px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .cover__subtitle {
    top: 280px;
  }
}
