.place__paragraph {
  grid-column: 2;
  grid-row: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin: 0;
  padding-left: 8px;
}

@media all and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 25.9px;
  }
}

@media all and (max-width: 767px) {
  .place__paragraph {
    margin-left: 8px;
    max-width: 284px;
  }
}
