.place__website {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 8px;
  max-width: 100%;
}

@media all and (max-width: 767px) {
  .place__website {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 30px;
    margin-left: 8px;
  }
}
